body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	background: #383945;
}

article {
	width: 1170px;
	margin: 0 auto;
}

.one {
	height: 600px;
	background: url(../image/1.png);
	margin-top: 70px;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.textone {
	position: relative;
	padding: 240px 0 0 0; 
}



h1 {
	font-size: 68px;
	color: white;
	padding: 0px;
	margin: 0px;
	mix-blend-mode: overlay;
	z-index: 1;
	top: 0px;
	position: relative; 
}

.p {	
	font-size: 68px;
	color: white;
	padding: 0px;
	margin: 0px;
	mix-blend-mode: overlay;
	font-weight: bold;
	z-index: 2;
	top: -83px;
	position: relative; 
	opacity: 0.47;

}

h2 {
	mix-blend-mode: overlay;
	color: white;
	padding: 0px;
	margin: 0px;
	top: -93px;
	position: relative; 
	font-size: 49px;
}

.two {
	height: 600px;
	background: url(../image/2.png);
	margin-top: 70px;
	margin-bottom: 70px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: block;


}

.two:hover {
	filter: brightness(90%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.51);
}

.texttwo {
	padding-left: 60px;
	padding-top: 124px;
}

.t01 {
	color: #bbc5c7;
	font-size: 60px;
	mix-blend-mode: overlay;
	font-weight: bold;
	float: left;
	margin-bottom: 50px;

}

.Rudolph {
	color: #bbc5c7;
	font-size: 60px;
	mix-blend-mode: overlay;
	font-weight: bold;
	float: left;
	margin-left: 475px;

}

.gift {
	color: #bbc5c7;
	font-size: 25px;
	mix-blend-mode: overlay;
	font-weight: bold;
	float: left;
	margin-left: 481px;
}

