body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;
	background: #383945;
	background: radial-gradient(#70728a, #383945);
	text-decoration: none;

}

article {
	width: 1170px;
	margin: 0 auto;
}

.one {
	height: 200px;
	background: url(../image/1.jpg);
	background-position: left, right;
	margin-top: 20px;
	text-align: center;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.textone {
	position: relative;
	padding: 20px 0 0 0; 
}



h1 {
	font-size: 68px;
	color: white;
	padding: 0px;
	margin: 0px;
	mix-blend-mode: overlay;
	z-index: 1;
	top: 0px;
	position: relative; 
}

.p {	
	font-size: 68px;
	color: white;
	padding: 0px;
	margin: 0px;
	mix-blend-mode: overlay;
	font-weight: bold;
	z-index: 2;
	top: -83px;
	position: relative; 
	opacity: 0.47;

}

h2 {
	mix-blend-mode: overlay;
	color: white;
	padding: 0px;
	margin: 0px;
	top: -93px;
	position: relative; 
	font-size: 49px;
}

.two {
	height: 150px;
	background: #343434;
	margin-top: 70px;
	margin-bottom: 30px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: block;


}

.two:hover {
	filter: brightness(90%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.51);
}

.two:active {
	filter: brightness(90%);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.51);
}


.texttwo {
	padding-left: 10px;
	padding-top: 10px;
}

.t01 {
	color: #bbc5c7;
	font-size: 30px;
	font-weight: bold;
	float: left;

}

.Rudolph {
	color: #bbc5c7;
	font-size: 30px;
	font-weight: bold;
	margin-right: 20px;
	text-align: right;
	text-decoration: none;
}

.gift {
	color: #bbc5c7;
	font-size: 20px;
	font-weight: bold;
	margin-right: 20px;
	text-align: right;
	text-decoration: none;
}

.three {
	height: 150px;
	background: #343434;
	margin-top: 0px;
	margin-bottom: 70px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	display: block;
	width: 575px;
	float: left;

}

.three:hover {
	filter: brightness(90%);
	box-shadow: 0 1px 1px rgba(0,0,0,0.51);
}

.three:active {
	filter: brightness(90%);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.51);
}


.texttwo2 {
	padding-left: 10px;
	padding-top: 10px;
}

.t02 {
	color: #bbc5c7;
	font-size: 30px;
	font-weight: bold;
	float: left;
	margin-bottom: 50px;

}

.Rudolph2 {
	color: #bbc5c7;
	font-size: 30px;
	font-weight: bold;
	float: right;
	margin-left: 200px;
	margin-right: 20px;
}

.gift2 {
	color: #bbc5c7;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin-left: 0px;
	margin-right: 20px;
}

.v2 {
	float: right;
}