body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
	color: #2d313d;
}

article {
	width: 1170px;
	margin: 0px auto 0px auto;
}
	
img {
	user-select: none;
}

.line {
	background: black;
	height: 50px;
}

.logo {
	margin: 9px auto auto 0px;
	float: left;
}

.navigation {
	padding-top: 16px;
	text-align: right;
}

.menu0 {
	margin-right: 100px;
	text-decoration: none;
	color: #ababab;
	font-weight: 500;
	font-size: 15px;
}

.menu {
	margin-right: 100px;
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 15px;
	transition: 0.3s;
}

.menu:nth-child(3) {
	margin-right: 0px;
}

.dmenu:nth-child(1) {
	color: #ababab;
}

.menu:hover {
	color: #ababab;
}


.offe {
	margin-top: 125px;
	border: 0px solid black;
	margin-left: 0px;
	float: left;
}

h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 45px;
	letter-spacing: 0.04em;
	border: 0px solid black;
	margin: 0px;
}

.offertext {
	font-size: 28px;
	width: 580px;
	margin-top: 45px;
	margin-bottom: 70px;
	line-height: 1.3em;
	border: 0px solid black;
}

.bottom {
	padding: 15px 30px;
	background: #3a72ff;
	color: white;
	user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-weight: 500;
	margin-top: 
}

.bottom:hover {
	background: #376bf0;
}

.bottom:active {
	background: #2e59c6;
}

.img {

	margin-top: 90px;
	margin-right: 20px;
	padding-left: 670px;
}

.clear {
	clear: both;
	display: table;
	margin: 0px;
}

.strelka {
	text-align: center;
	margin-top: 40px;
}