@font-face {
    font-family: 'Futura PT3';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT2';
    src: url('../fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
	color: #4d4d4d;
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

html {
	scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


article {
	max-width: 1170px;
	margin: 0px auto 0px auto;
	position: relative;
}
	
img {
	user-select: none;
}

.line {
	background: #333333;
	height: 50px;
}

#header2 {
	background: #444444;
	height: 40px;
}

#line {
 	height: 1px;
 	background: #2b2b2b;
 	border: 0px solid black;
 	width: 100%;
 	margin-top: 1px;
 }


 #line2 {
 	height: 1px;
 	background: #4f4d54;
 	border: 0px solid black;
 	width: 100%;
 }

.logo {
	margin: 9px auto auto 0px;
	float: left;
}

.navigation {
	padding-top: 16px;
	text-align: right;
}

.navigation2 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;

}

.menu {
	margin-right: 100px;
	text-decoration: none;
	color: #b4b4b4;
	font-weight: 400;
	font-size: 15px;
	transition: all 0.3s;
	font-family: 'Montserrat'
}

.menu:nth-child(3) {
	margin-right: 0px;
}

.menu:nth-child(1) {
	color: white;
}

.menu:hover {
	color: #f5f5f5;
}

.menu:hover:nth-child(1) {
	color: white;
}

.menu:active {
	color: white;
	transition: all 0s;
}

.menu2 {
	margin-right: 40px;
	text-decoration: none;
	color: #b4b4b4;
	font-weight: ;
	font-size: 14px;
	transition: all 0.3s;

}



.menu2:nth-child(7) {
	margin-right: 0px;
}

.menu2:hover {
	color: #f5f5f5;
}

.menu2:active {
	color: white;
	transition: all 0s;
}

#one {
	max-width: 1170px;
	margin: 0 auto;
}

.offe {
	margin-top: 125px;
	border: 0px solid black;
	margin-left: 0px;
	float: left;
}

h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 47px;
	letter-spacing: 0.04em;
	line-height: 1.05em;
	border: 0px solid black;
	margin: 0px;
}

h2 {
	font-family: 'Philosopher', sans-serif;
	font-size: 40px;
	letter-spacing: 0.04em;
	border: 0px solid black;
	margin: 0px;
	padding-top: 68px;
	text-align: center;
}


.offertext {
	font-size: 28px;
	width: 580px;
	margin-top: 32px;
	margin-bottom: 60px;
	line-height: 1.3em;
	border: 0px solid black;
}

.bottom {
	padding: 15px 30px;
	background: #4297ff;
	color: white;
	user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	transition: all 0.3s;
}

.bottom:hover {
	background: #376bf0;
}

.bottom:active {
	background: #2e59c6;
}

.img {
	position: absolute;
    right: -50px;
    top: 93px;
    z-index: 1;
}

.why {
	color: #f2f2f2;
}

.clear {
	clear: both;
	display: table;
	margin: 0px;
}


#strelka {
	text-align: center;
	margin-top: 40px;
	padding-bottom: 70px;
}

#two {
	margin-top: 90px;
	background: #f8f8f8;
}


.sticky {
  position: fixed;
  top: 0px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
  z-index: 101;
}

.blocks {
	margin-top: 90px;
	display: flex;
	margin-bottom: 30px;

}

.space {
	flex: 1;
}

.hww {
	padding-bottom: 100px;
	float: left;
	box-sizing: border-box;
	position: relative;
	z-index: 1;

}

.circle {
	position: absolute;
	z-index: -1;
	top: 30px;
	left: 30px;
}

.circle2 {
	position: absolute;
	z-index: -1;
	top: 35px;
	left: 70px;
}

.circle3 {
	position: absolute;
	z-index: -1;
	top: 5px;
	left: 70px;
}

.circle4 {
	position: absolute;
	z-index: -1;
	top: 35px;
	left: 55px;
}

.hww1 {
	width: 210px;



}

.hww2 {
	width: 270px;

}

.hww3 {
	width: 240px;

}

.hww4 {
	width: 215px;

}

.titlehww {
	font-family: 'Futura PT3';
	font-size: 26px;
	text-align: center;
	margin-top: 40px;
	font-weight: 500;

}

.texthww {
	font-family: 'Futura PT2';
	font-size: 20px;
	text-align: center;
	margin-top: 8px;
	line-height: 1.3em;

}

.centr {
	text-align: center;
}


#three {

}

#inst {
	height: 533px;
	background: #6b534f;
	position: relative;
	z-index: 1;

}

#teh {
	height: 533px;
	background: #edeae1;
	position: relative;
	z-index: 1;
}

#opit {
	height: 533px;
	background: #5386b1;
	position: relative;
	z-index: 1;
}

.blocks_inst {
	position: relative;
	left: 550px;
}
.inst_title {
	padding-top: 70px;
	font-family: 'Futura PT3';
	font-size: 40px;
	color: #f2f2f2;
}

.inst_text {
	padding-top: 15px;
	font-family: 'Futura PT2';
	font-size: 20px;
	width: 350px;
	color: #f0d8d8;
	padding-bottom: 55px;
}

.inst_img {
	position: absolute;
	left: 300px;
	top: 220px;
	z-index: -1;
}

.blocks_teh {
	position: relative;
	right: 350px;
}

.teh_title {
	padding-top: 152px;
	font-family: 'Futura PT3';
	font-size: 40px;
	color: #3c3434;
	text-align: right;;
}

.teh_text {
	padding-top: 15px;
	font-family: 'Futura PT2';
	font-size: 20px;
	width: 370px;
	color: #4c4c49;
	text-align: right;
	padding-bottom: 55px;
}

.teh_img {
	position: absolute;
	right: 550px;
	top: 334px;
	z-index: -1;
}

.opit_title {
	padding-top: 152px;
	font-family: 'Futura PT3';
	font-size: 40px;
	color: #ffffff;
}

.opit_text {
	padding-top: 15px;
	font-family: 'Futura PT2';
	font-size: 20px;
	width: 460px;
	color: #d4ebff;
	padding-bottom: 55px;
}

.opit_img {
	position: absolute;
	right: -106px;
	top: -79px;
	z-index: -1;
}


.inst_bottom {
	padding: 15px 30px;
	background: #826a66;
	color: #ededed;
	user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-weight: 400;
	transition: all 0.3s;
	font-family: 'Montserrat';
	font-size: 15px;
}

.inst_bottom:hover {
	background: #78615d;
}

.inst_bottom:active {
	background: #665350;
}

.teh_block {
	position: relative;
	text-align: right;
	width: 380px;
	float: right;
}

.teh_bottom {
	padding: 15px 30px;
	background: #d4d2cc;
	color: #3d3c39;
	user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-weight: 400;
	transition: all 0.3s;
	font-family: 'Montserrat';
	font-size: 15px;
}

.teh_bottom:hover {
	background: #c2c0ba;
}

.teh_bottom:active {
	background: #aba9a4;
}

.opit_bottom {
	padding: 15px 30px;
	background: #80b4e0;
	color: white;
	user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	font-weight: 400;
	transition: all 0.3s;
	font-family: 'Montserrat';
	font-size: 15px;
}

.opit_bottom:hover {
	background: #74a5cc;
}

.opit_bottom:active {
	background: #5c82a1;
}
