@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Philosopher:700&display=swap&subset=cyrillic');

@font-face {
    font-family: 'Futura PT4';
    src: url('../css/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../css/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../css/FuturaPT-Bold.woff') format('woff'),
        url('../css/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT3';
    src: url('../css/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../css/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../css/FuturaPT-Medium.woff') format('woff'),
        url('../css/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT2';
    src: url('../css/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../css/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../css/FuturaPT-Book.woff') format('woff'),
        url('../css/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media screen and (max-width: 330px) {

.logo span {
	display: none;
}

}


@media screen and (max-width: 480px) {

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
	color: #4d4d4d;
	overflow-x: hidden;
	min-width: 100%;
}

html {
	scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
    overflow-x: hidden;
}


article {
	width: 90%;
	margin: 0px auto 0px auto;
	position: relative;
	border: 0px solid black;
}

h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 35px;
	line-height: 0.9em;
	border: 0px solid black;
	margin: 0px;
	color: #3c3c3c;
	text-align: center;
}

.offe {
	margin-top: 60px;
	border: 0px solid black;
	margin-left: 0px;
	float: left;
}

.offertext {
	font-size: 16px;
	width: 100%;
	margin-top: 22px;
	margin-bottom: 50px;
	line-height: 1.5em;
	border: 0px solid black;
	text-align: center;

}


.navigation, .navigation2, .navigation3 {
	display: none;
}

#header2 {
	display: none;
}

.arrow {
	display: none;
}

.bottom {
		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.main_image {
	display: none;
}

#menu__toggle {
  opacity: 0;
}

.hamburger-menu {
	display: block;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 12px;
  right: 0px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.bg1 {
	position: absolute;
	left: -280px;
	top: -200px;
	z-index: -2;
}

}

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
	color: #4d4d4d;
	max-width: 100%;
	overflow-x: hidden;
	min-width: 1220px;
}

html {
	scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
    overflow-x: hidden;
}


article {
	max-width: 1170px;
	margin: 0px auto 0px auto;
	position: relative;

}
	
img {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.line {
	background: #383838;
	height: 50px;
}

#header2 {
	background: white;
	height: 40px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.06);
	        box-shadow: 0 0 2px rgba(0,0,0,0.06);

}

#line {
 	height: 1px;
 	background: #2b2b2b;
 	border: 0px solid black;
 	width: 100%;
 	margin-top: 1px;
 }


 #line2 {
 	height: 1px;
 	background: #4f4d54;
 	border: 0px solid black;
 	width: 100%;
 }

.logo a {
	margin: 12px auto auto 0px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #ffffff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding-left: 0px;
	font-weight: 500;

}


.n {
	padding-top: 1px;
	float: left;
	padding-right: 10px;
}

.arrow {
	position: absolute;
	margin-left: 33px;
}

.navigation {
	padding-top: 16px;
	text-align: right;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.navigation2 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	float: left;

}

.navigation3 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	text-decoration: none;
	color: #3c3c3c;
	font-size: 14px;
}

.menu {
	margin-right: 50px;
	text-decoration: none;
	color: #b4b4b4;
	font-weight: 400;
	font-size: 15px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-family: 'Montserrat', sans-serif;
	padding-left: 7px;
	
}

.menu:nth-child(3) {
	margin-right: 0px;
}


.menu:hover:nth-child(2) {
	color: #f5f5f5;
	background: url(../images/2px.png) center left no-repeat;
}

.menu:hover:nth-child(3) {
	color: #f5f5f5;
	background: url(../images/2px.png) center left no-repeat;
}

.menu:hover:nth-child(1) {
	color: white;
}



.menu:active .menu1-1 {
	background: url(../images/12px.png) center left no-repeat;
	color: red;
}

.menu:active {
	color: white;
	-webkit-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}

.menu1-1 {
	margin-right: 50px;
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 15px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-family: 'Montserrat';
	padding-left: 7px;
	background: url(../images/2px.png) center left no-repeat;
}

.menu:hover .menu1-1 {
	background: url(../images/12px.png) center left no-repeat;
	color: red;
}

.menu2 {
	margin-right: 40px;
	text-decoration: none;
	color: #3c3c3c;
	font-weight: ;
	font-size: 14px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.menu2:nth-child(6) {
	margin-right: 0px;
}

.menu2:hover {
	color: #afafaf;
}

.menu2:active {
	color: #c7c7c7;
	-webkit-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;

}



#screen_one {
	margin: 0 auto;
}



.offe {
	margin-top: 100px;
	border: 0px solid black;
	margin-left: 0px;
	float: left;
}



.bg1 {
	position: absolute;
	left: -280px;
	top: -100px;
	z-index: -2;
}


h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 47px;
	letter-spacing: 0.04em;
	line-height: 1em;
	border: 0px solid black;
	margin: 0px;
	color: #3c3c3c;
}

h2 {
	font-family: 'Philosopher', sans-serif;
	font-size: 40px;
	letter-spacing: 0.04em;
	border: 0px solid black;
	margin: 0px;
	padding-top: 98px;
	text-align: center;
}

h3 {
	font-family: 'Futura PT3', sans-serif;
	font-size: 25px;
	font-weight: 500;
	margin: 0;
	padding:0;
}

h3 a {
	font-family: 'Futura PT3', sans-serif;
	font-size: 25px;
	font-weight: 500;
	margin: 0;
	padding:0;
	text-decoration: none;
	color: #4d4d4d;
}

h3 a:hover {
	color: #747474;
}

.offertext {
	font-size: 16px;
	width: 460px;
	margin-top: 22px;
	margin-bottom: 50px;
	line-height: 1.5em;
	border: 0px solid black;

}

.bottom {
	font-size: 14px;
	padding: 15px 33px;
	background: #ffd33c;
	color: black;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0 0 30px rgba(255,211,60,0.5);
	        box-shadow: 0 0 30px rgba(255,211,60,0.5);
}

.bottom:hover {
	background: #ffc917;
	-webkit-box-shadow: 0 0 15px rgba(255,211,60,0.5);
	        box-shadow: 0 0 15px rgba(255,211,60,0.5);
}

.bottom:active {
	background: #ffd33c;
}

.main_image {
	position: absolute;
	left: 450px;
	top: 190px;
	z-index: -1;
}

.why {
	color: #f0f2f7;
}

.clear {
	clear: both;
	display: table;
	margin: 0px;
}

