@font-face {
    font-family: 'Futura PT3';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT2';
    src: url('../fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0px;
	margin: 0px;
	color: #4d4d4d;
	max-width: 100%;
	overflow-x: hidden;
	min-width: 1220px;
}

html {
	scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
    overflow-x: hidden;
}


article {
	max-width: 1170px;
	margin: 0px auto 0px auto;
	position: relative;

}
	
img {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.line {
	background: #383838;
	height: 50px;
}

#header2 {
	background: white;
	height: 40px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.06);
	        box-shadow: 0 0 2px rgba(0,0,0,0.06);

}

#line {
 	height: 1px;
 	background: #2b2b2b;
 	border: 0px solid black;
 	width: 100%;
 	margin-top: 1px;
 }


 #line2 {
 	height: 1px;
 	background: #4f4d54;
 	border: 0px solid black;
 	width: 100%;
 }

.logo a {
	margin: 12px auto auto 0px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #ffffff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding-left: 0px;
	font-weight: 500;

}

.n {
	padding-top: 1px;
	float: left;
	padding-right: 10px;
}


.navigation {
	padding-top: 16px;
	text-align: right;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.arrow {
	position: absolute;
	margin-left: 33px;
}

.navigation2 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	float: left;

}

.navigation3 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	text-decoration: none;
	color: #3c3c3c;
	font-size: 14px;
}

.menu {
	margin-right: 50px;
	text-decoration: none;
	color: #b4b4b4;
	font-weight: 400;
	font-size: 15px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-family: 'Montserrat', sans-serif;
	padding-left: 7px;
	
}

.menu:nth-child(3) {
	margin-right: 0px;
}


.menu:hover:nth-child(1) {
	color: #f5f5f5;
	background: url(../images/2px.png) center left no-repeat;
}

.menu:hover:nth-child(2) {
	color: #f5f5f5;
	background: url(../images/2px.png) center left no-repeat;
}

.menu:hover:nth-child(1) {
	color: white;
}



.menu:active {
	color: white;
	-webkit-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}

.menu1-1 {
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 15px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	font-family: 'Montserrat', sans-serif;
	padding-left: 7px;
	background: url(../images/2px.png) center left no-repeat;
}


.menu2 {
	margin-right: 40px;
	text-decoration: none;
	color: #3c3c3c;
	font-weight: ;
	font-size: 14px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.menu2:nth-child(6) {
	margin-right: 0px;
}

.menu2:hover {
	color: #afafaf;
}

.menu2:active {
	color: #c7c7c7;
	-webkit-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}

#screen_one {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}

.offe {
	margin-top: 100px;
	border: 0px solid black;
	margin-left: 0px;
	float: left;
}

.bg1 {
	position: absolute;
	left: -280px;
	top: -100px;
	z-index: -2;
}

h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 47px;
	letter-spacing: 0.04em;
	line-height: 1em;
	border: 0px solid black;
	margin: 0px;
	color: #3c3c3c;
}

h2 {
	font-family: 'Philosopher', sans-serif;
	font-size: 40px;
	letter-spacing: 0.04em;
	border: 0px solid black;
	margin: 0px;
	padding-top: 98px;
	text-align: center;
}

h3 {
	font-family: 'Futura PT2', sans-serif;
	font-size: 25px;
	color: #909090;
	text-align: center;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	padding-top: 17px;


}

.offertext {
	font-size: 16px;
	width: 480px;
	margin-top: 22px;
	margin-bottom: 50px;
	line-height: 1.5em;
	border: 0px solid black;

}

.bottom {
	font-size: 14px;
	padding: 15px 33px;
	background: #ffd33c;
	color: black;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border-radius: 4px;
	text-decoration: none;
	letter-spacing: 0.02em;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0 0 30px rgba(255,211,60,0.5);
	        box-shadow: 0 0 30px rgba(255,211,60,0.5);
}

.bottom:hover {
	background: #ffc917;
	-webkit-box-shadow: 0 0 15px rgba(255,211,60,0.5);
	        box-shadow: 0 0 15px rgba(255,211,60,0.5);
}

.bottom:active {
	background: #ffd33c;
}

.main_image {
	position: absolute;
	left: 660px;
	top: 130px;
	z-index: -1;
	max-width: 662px;
	height: auto;
}

.offe img {
	position: absolute;
	top: 55px;
	left: 10px;
	z-index: -1;
}

.why {
	color: #f0f2f7;
}

.clear {
	clear: both;
	display: table;
	margin: 0px;
}

.sticky {
  position: fixed;
  top: 0px;  /* если ноль заменить на число (и в скрипте тоже), то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом. Применим, например, при фиксированном сверху меню */
  z-index: 101;
}

#screen_two {
	margin-top: 115px;
	font-size: 20px;
	color: #3c3c3c;
	font-family: 'Futura PT2', sans-serif;
	line-height: 1.5em;
	height: 100%;
	margin-bottom: 80px;
}

#screen_two img {
	position: relative;
	left: 325px;
	margin-bottom: 58px;
	margin-top: 70px;
}

.screen_two-text {
	width: 696px;
	font-size: 20px;
	color: #3c3c3c;
	font-family: 'Futura PT2', sans-serif;
	line-height: 1.5em;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 58px;
}

.screen_two-text2 {
	width: 720px;
	font-size: 20px;
	color: #3c3c3c;
	font-family: 'Futura PT2', sans-serif;
	line-height: 1.5em;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 58px;
}

.screen_two-block {
	margin: 0 auto;
	display: block;
	width: 810px;
	line-height: 1.8em;
}

.screen_two-block span {
	font-family: 'Futura PT3', sans-serif;
	font-size: 21px;
}

.screen_two-block a {
	text-align: center;
}
.screen_two-block2 {
	text-align: center;
	line-height: 1.8em;
}
.screen_two-block2 span {
	font-family: 'Futura PT3', sans-serif;
	font-size: 21px;
}

.gruz {
	float: left;
	margin-left: 150px;

}

.tcena {
	float: right;
	margin-right: 80px;
}

.tcena2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.bottom-transport {
	font-size: 19px;
	padding: 9px 20px;
	background: #ffd33c;
	color: #3c3c3c;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	border-radius: 4px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	white-space: nowrap;
	font-family: 'Futura PT2', sans-serif;
}



.bottom-transport:hover {
	background: #ffc71c;
}

.bottom-transport:active {
	background: #ffc000;
}


.centr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 150px;
}

.centr2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 30px;
}

#screen_three {
	font-size: 20px;
	color: #3c3c3c;
	font-family: 'Futura PT2', sans-serif;
	line-height: 1.5em;
	height: 100%;
	margin-bottom: 80px;
}

#screen_three img {
	position: relative;
	left: 325px;
	margin-bottom: 58px;
	margin-top: 70px;
}

#screen_four {
	font-size: 20px;
	color: #3c3c3c;
	font-family: 'Futura PT2', sans-serif;
	line-height: 1.5em;
	height: 895px;
}

#screen_four img {
	position: relative;
	left: 260px;
	margin-bottom: 58px;
}

#screen_five {
	font-size: 20px;
	color: #3c3c3c;
	font-family: 'Futura PT2', sans-serif;
	line-height: 1.5em;
	height: 945px;
}

#screen_five img {
	position: relative;
	left: 276px;
	margin-bottom: 58px;
}


#screen_six {
	font-family: 'Futura PT2', sans-serif;
}

.screen_six-text {
	font-size: 20px;
	padding-top: 40px;
	text-align: center;
}

.screen_six-text2 {
	font-size: 26px;
	padding-top: 30px;
	text-align: center;
	font-family: 'Futura PT3', sans-serif;
}

.screen_six-text3 {
	font-size: 20px;
	padding-top: 1px;
	text-align: center;
	font-family: 'Futura PT2', sans-serif;
	color: #666666;
}

.screen_six-text4 {
	font-size: 18px;
	padding-top: 30px;
	text-align: center;
	font-family: 'Futura PT2', sans-serif;
	padding-bottom: 150px;
	color: #666666;
}

#footer {
	height: 100%;
	background: #28282c;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;

}

.logo2 a {
	margin: 12px auto auto 0px;
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	padding-left: 0px;
	font-weight: 400;
	line-height: 2em;

}

.footer-text {
	padding-top: 10px;
	color: #ababab;
	line-height: 2em;
	margin-left: 54px;
}

.footer-block1 {
	width: 290px;
}

.footer-block2 {
	width: 220px;
	margin-top: 12px;
}

.footer-block2 a {
	line-height: 2em;
	text-decoration: none;
	color: #e5e5e5;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.footer-block2 a:hover {
	line-height: 2em;
	text-decoration: underline;
	color: #e5e5e5;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.footer-block2 div {
	color: #ababab;
	line-height: 2em;

}

.footer-block3 {
	width: 200px;
	margin-top: 12px;
}

.footer-block3-text {
	color: #ababab;
	line-height: 2em;
}

.footer-block3-text2 {
	color: #ababab;
	line-height: 2em;
}


.footer-block {
	padding-top: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 25px;
}

.clearfix {
	width: 100%; 
	height: 1px; 
	clear: both;
}

.space {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.n2 {
	padding-top: 7px;
	float: left;
	padding-right: 15px;
}